.date{
  margin-top:-10px ;
}
ul{
  list-style-type:none;
  font-size: 18px;
}
.degree{
  font-size: 60px;
}
.cel{
  display: block;
  margin-top: -70px;
  margin-left: 130px;
}
.forecastDay{
  text-align: center;
  margin-top: 20px;
}
